@import './vendor';

.container {
  padding-top: 0;
}

.v-application {
  font-family: "Raleway", sans-serif !important;
  margin-top: -85px;
}

.row .row {
  margin-left: 12px;
  margin-right: 12px;
}