@import './vendor';

.container {
  padding: 0;
}

.row {
  .row {
    @media only screen and (max-width: 600px) {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

.v-application {
  font-family: "Raleway", sans-serif !important;
  margin-top: -85px;
}